<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Teoría" data-toc-modified-id="Teoría-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Teoría</a></span></li><li><span><a href="#Práctica" data-toc-modified-id="Práctica-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Práctica</a></span><ul class="toc-item"><li><span><a href="#Librerías" data-toc-modified-id="Librerías-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Librerías</a></span></li><li><span><a href="#Datos" data-toc-modified-id="Datos-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Datos</a></span></li></ul></li><li><span><a href="#Análisis" data-toc-modified-id="Análisis-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Análisis</a></span></li><li><span><a href="#Referencias" data-toc-modified-id="Referencias-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Referencias</a></span></li></ul></div>

## Teoría

## Práctica

### Librerías

In [1]:
import pandas as pd

### Datos

In [2]:
def cargar_datos(fd, round_dt='H'):
    """
    Cargar datos a partir de un fichero csv.
    
    Args:
    -----
    fd [{str}] -- Directorio del fichero csv a cargar para velas de horas.
    round_dt {[str]} -- Palabra clave para redondear la hora de cierre.
    
    Returns:
    -------
    df [{pandas.DataFrame}] -- DataFrame con los datos en el formato adecuado.
    """
    
    columns = [
        'open_time',
        'close_time',
        'symbol',
        'open',
        'high',
        'low',
        'close',
        'volume',
        'numbertrades'
    ]

    df = pd.read_csv(fd, sep=';', encoding='utf-8-sig')
    df.columns = [col_name.lower() for col_name in df.columns.to_list()]
    df.rename(
    {
        'opentime': 'open_time',
        'closetime': 'close_time',

    }, axis=1, inplace=True)

    df = df[columns].copy()

    df['open_time'] = pd.to_datetime(df['open_time'], format='%Y-%m-%d %H:%M:%S').dt.round(round_dt)
    df['close_time'] = pd.to_datetime(df['close_time'], format='%Y-%m-%d %H:%M:%S').dt.round(round_dt)
    
    df.set_index('open_time', inplace=True)
    df.sort_index(ascending=True, inplace=True)
    
    return df

In [3]:
filename_dir = '../data/binance/2021-07-31 15:31:52/BTCUSDT_1h.csv'

df_btcusdt = cargar_datos(fd=filename_dir, round_dt='H')

In [4]:
df_btcusdt

,close_time,symbol,open,high,low,close,volume,numbertrades
open_time,,,,,,,,
2018-01-01 00:00:00,2018-01-01 01:00:00,BTCUSDT,13715.65,13715.65,13400.01,13529.01,443.356199,5228
2018-01-01 01:00:00,2018-01-01 02:00:00,BTCUSDT,13528.99,13595.89,13155.38,13203.06,383.697006,4534
2018-01-01 02:00:00,2018-01-01 03:00:00,BTCUSDT,13203.00,13418.43,13200.00,13330.18,429.064572,4887
2018-01-01 03:00:00,2018-01-01 04:00:00,BTCUSDT,13330.26,13611.27,13290.00,13410.03,420.087030,4789
2018-01-01 04:00:00,2018-01-01 05:00:00,BTCUSDT,13434.98,13623.29,13322.15,13601.01,340.807329,4563
...,...,...,...,...,...,...,...,...
2021-07-31 10:00:00,2021-07-31 11:00:00,BTCUSDT,41639.96,41916.64,41605.80,41787.54,1364.416936,35992
2021-07-31 11:00:00,2021-07-31 12:00:00,BTCUSDT,41785.07,41817.85,41337.02,41592.15,2223.754782,93411
2021-07-31 12:00:00,2021-07-31 13:00:00,BTCUSDT,41592.14,41725.52,41478.00,41654.98,1202.806699,76379
2021-07-31 13:00:00,2021-07-31 14:00:00,BTCUSDT,41654.99,41699.72,41231.53,41381.94,2202.936760,44912
2021-07-31 14:00:00,2021-07-31 15:00:00,BTCUSDT,41381.93,41419.95,41000.15,41379.71,789.454835,30557

In [5]:
df_btcusdt.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 31270 entries, 2018-01-01 00:00:00 to 2021-07-31 14:00:00
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   close_time    31270 non-null  datetime64[ns]
 1   symbol        31270 non-null  object
 2   open          31270 non-null  float64
 3   high          31270 non-null  float64
 4   low           31270 non-null  float64
 5   close         31270 non-null  float64
 6   volume        31270 non-null  float64
 7   numbertrades  31270 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 2.1+ MB

In [6]:
df_btcusdt.describe()

,open,high,low,close,volume,numbertrades
count,31270.000000,31270.000000,31270.000000,31270.000000,31270.000000,31270.000000
mean,14409.270091,14500.335829,14310.459262,14410.150050,2322.347689,31208.474832
std,14096.726478,14199.942867,13985.427101,14097.550118,2254.289959,36643.902963
min,3172.620000,3184.750000,3156.260000,3172.050000,0.000000,0.000000
25%,6747.750000,6780.000000,6719.055000,6748.900000,1056.753505,8976.000000
50%,9107.630000,9140.805000,9065.770000,9107.950000,1685.253395,17275.000000
75%,11720.385000,11769.855000,11656.442500,11720.000000,2776.522279,38484.500000
max,64577.250000,64854.000000,64280.000000,64577.260000,47255.762685,799206.000000

In [7]:
df_btcusdt.index

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2021-07-31 05:00:00', '2021-07-31 06:00:00',
               '2021-07-31 07:00:00', '2021-07-31 08:00:00',
               '2021-07-31 09:00:00', '2021-07-31 10:00:00',
               '2021-07-31 11:00:00', '2021-07-31 12:00:00',
               '2021-07-31 13:00:00', '2021-07-31 14:00:00'],
              dtype='datetime64[ns]', name='open_time', length=31270, freq=None)

## Análisis

## Referencias

- [1] How to build a Bitcoin Sentiment Analysis using Python and Twitter. [url: https://medium.com/analytics-vidhya/how-to-build-a-bitcoin-sentiment-analysis-using-python-and-twitter-beb89e6ce0c8]